{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <h3> {{ .Description }} </h3>
    <a href="{{ .PageLink }}"> link to me :)</a>
    <ul>
        {{ range .Authors -}}
        <li>{{ . }}</li>
        {{ end -}}
    </ul>

    <hr>

    <ul>
        {{ range $k, $v := GetChildPages "blog" -}}
            <li> <a href="{{ $k }}"> {{ $v }} </a></li>
        {{ end }}
    </ul>
    {{ .Content }}
{{ end }}