{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
        {{ $sorted := SortPages (GetChildPages "blog" false) "Date" true }}
        {{ range $p := $sorted }}
            <li> [{{ $p.Date }}] <a href="{{ $p.Link }}">{{ $p.Title }}</a></li>
        {{ end }}
    </ul>
{{ end }}