{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <h3> {{ .Description }} </h3>

    <h4>Authors</h4>
    <ul>
        {{ range .Authors -}}
        <li>{{ . }}</li>
        {{ end -}}
    </ul>

    <hr>

    <h3>Articles</h3>
    <ul>
        {{ range $link, $title := GetChildPages "blog" false -}}
            <li> <a href="{{ $link }}"> {{ $title }} </a></li>
        {{ end }}
    </ul>
    {{ .Content }}
{{ end }}