{{ define "header" }}
    <h1 style="text-align: center">The <i>sugo</i> static site generator!</h1>
    <nav>
        <span> <a href="/">Home</a></span> &nbsp;
        {{ range $link, $data := GetChildPages "" true -}}
            <span> <a href="{{ $link }}"> {{ $data.Title }} </a></span> &nbsp;
        {{ end }}
    </nav>
{{ end }}