{{ define "main" }}
<h1>{{- .Title -}}</h1>
{{ .Content }}
<h3>Articles</h3>
<ul>
    {{ range $link, $title := GetChildPages "software" false -}}
    <li> <a href="{{ $link }}"> {{ $title }} </a></li>
    {{ end }}
</ul>

{{ end }}
